--SELECT * FROM ConVarsSalariaisItens
SELECT CGC_CdiContratadoGrade, CGC_DtdInicioGrade, CGC_CdiCargo, CGC_VlnSalario, CGC_CdiMotivoAltGrade FROM ConGradesCargosSalarios

SELECT CON_DtdAdmissao,* FROM Contratados
WHERE CON_CdiContratado='100000060'

SELECT MAG_CdiMotivoAltGrade,* FROM MotivosAltsGrades

SELECT RA_FILIAL R7_FILIAL, RA_MAT R7_MAT,
CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 ) R7_DATA,
CASE WHEN CGC_CdiMotivoAltGrade IN (1,9) THEN '001'
	WHEN CGC_CdiMotivoAltGrade IN (2,3) THEN '007'
	WHEN CGC_CdiMotivoAltGrade IN (4,5,19,20,21,22,23,24,25,26,27,28,29) THEN '006'
	WHEN CGC_CdiMotivoAltGrade IN (7,8) THEN '004'
ELSE '008' END R7_TIPO,
REPLICATE('0',5-LEN(CGC_CdiCargo))+CONVERT(VARCHAR ,CGC_CdiCargo)R7_FUNCAO,
RJ_DESC R7_DESCFUN,
CGC_CdiContratadoGrade,  CGC_VlnSalario  FROM ConGradesCargosSalarios, [TOTVS_CMP].[dbo].[SRJ990], [TOTVS_CMP].[dbo].[SRA990]
WHERE RJ_FUNCAO=REPLICATE('0',5-LEN(CGC_CdiCargo))+CONVERT(VARCHAR ,CGC_CdiCargo)
AND CGC_CdiContratadoGrade = RA_CRACHA

SELECT RA_FILIAL R7_FILIAL, RA_MAT R7_MAT,
ROW_NUMBER() OVER(PARTITION BY RA_FILIAL+RA_MAT+CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 ) ORDER BY RA_FILIAL+RA_MAT+CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 )) R8_SEQ,
CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 ) R7_DATA,
CASE WHEN CGC_CdiMotivoAltGrade IN (1,9) THEN '001'
	WHEN CGC_CdiMotivoAltGrade IN (2,3) THEN '007'
	WHEN CGC_CdiMotivoAltGrade IN (4,5,19,20,21,22,23,24,25,26,27,28,29) THEN '006'
	WHEN CGC_CdiMotivoAltGrade IN (7,8) THEN '004'
ELSE '008' END R7_TIPO,
REPLICATE('0',5-LEN(CGC_CdiCargo))+CONVERT(VARCHAR ,CGC_CdiCargo)R7_FUNCAO,
RJ_DESC R7_DESCFUN,
RA_TIPOPGT R7_TIPOPGT,
RA_CATFUNC R7_CATFUNC,
CGC_CdiContratadoGrade,  CGC_VlnSalario  FROM ConGradesCargosSalarios, [TOTVS_CMP].[dbo].[SRJ990], [TOTVS_CMP].[dbo].[SRA990]
WHERE RJ_FUNCAO=REPLICATE('0',5-LEN(CGC_CdiCargo))+CONVERT(VARCHAR ,CGC_CdiCargo)
AND CGC_CdiContratadoGrade = RA_CRACHA
ORDER BY RA_FILIAL, RA_MAT, CGC_DtdInicioGrade

SELECT RA_FILIAL R7_FILIAL, RA_MAT R7_MAT,
ROW_NUMBER() OVER(PARTITION BY RA_FILIAL+RA_MAT+CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 ) ORDER BY RA_FILIAL+RA_MAT+CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 )) R8_SEQ,
CONVERT(VARCHAR , CGC_DtdInicioGrade, 103 ) R7_DATA,
CASE WHEN CGC_CdiMotivoAltGrade IN (1,9) THEN '001'
	WHEN CGC_CdiMotivoAltGrade IN (2,3) THEN '007'
	WHEN CGC_CdiMotivoAltGrade IN (4,5,19,20,21,22,23,24,25,26,27,28,29) THEN '006'
	WHEN CGC_CdiMotivoAltGrade IN (7,8) THEN '004'
ELSE '008' END R7_TIPO,
'000' R3_VERBA, 'SALARIO BASE' R3_DESCVB,
CGC_VlnSalario R3_SALARIO, CGC_VlnSalario R3_SALDIS,
CGC_CdiContratadoGrade    FROM ConGradesCargosSalarios, [TOTVS_CMP].[dbo].[SRJ990], [TOTVS_CMP].[dbo].[SRA990]
WHERE RJ_FUNCAO=REPLICATE('0',5-LEN(CGC_CdiCargo))+CONVERT(VARCHAR ,CGC_CdiCargo)
AND CGC_CdiContratadoGrade = RA_CRACHA
ORDER BY RA_FILIAL, RA_MAT, CGC_DtdInicioGrade